@page
@model Foodie.Areas.Identity.Pages.Account.Manage.CreateMyRecipesModel
@{
    ViewData["Title"] = "My Recipes";
    ViewData["ActivePage"] = ManageNavPages.CheckMyRecipes;
}

<h3> My Recipes</h3>
<p>
    <a asp-page="./CreateMyRecipes">Create New Recipe</a>
</p>




