@page
@model Foodie.Areas.Identity.Pages.Account.Manage.DeleteMyRecipeModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this recipe?</h3>
<div>
    <h4>Recipe</h4>

    <h3>@Html.DisplayFor(model => model.Recipe.Name)</h3>
    <img src="data:image/jpg;base64,@Model.Recipe.ImageData" width="300px" height="200px"></img>
    <br />
    <br />

    <h4>Introduction</h4>
    @Html.DisplayFor(model => model.Recipe.Introduction)

    <form method="post">
        <input type="hidden" asp-for="Recipe.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./CheckMyRecipes">Back to List</a>
    </form>
