@*@page
@model Foodie.Pages.Wrappers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wrapper</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Wrapper.WrapperId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
