@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div align="center">
    <br></br>
    <img src="/images/slogan.jpg" class="ml-1 mr-3" style="max-height: 200px" />
</div>
<br />
<div class="text-center">
</div>
<div class="container" style="margin-top: 10vh">
    <div class="row mb-2 bg-light">
        <div class="col my-2 py-1 d-flex justify-content-center">
        </div>
    </div>
</div>
0